@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
         url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}

/*Navigation Bar*/
.navBar{
    display: flex;
    grid-template-columns: 70% 30%;
    background-color: white;
    padding: 0% 2%;
    align-items: center;
}
.leftNav{
    flex: 70%;
    display: flex;
    grid-template-columns: 30% 70%;
}
.leftNav h2{
    color: #0084C2;
}
.logo{
    flex: 30%;
}
.navLinks{
    flex: 70%;
    display: flex;
    align-items: center;
}
.navLinks a{
    text-decoration: none;
    color: #4F4F4F;
    font-size: 14pt;
    font-weight: bold;
    margin: 0% 3%;
    padding: 1% 0%;
}
.navLinks a:hover{
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #054970;
    color: #014E6F;
}
.leftNav img{
    width: 15%;
}
.logo h2 > img, h2 > span{
    vertical-align: middle;
}
.rightNav{
    flex: 30%;
}
.rightNav button{
    float: right;
    margin: 0% 2%;
    background-color: #1F65EC;
    font-size: 12pt;
    font-weight: lighter;
    color: white;
    padding: 2% 6%;
    border-radius: 20px;
    border: 0px;
}
.rightNav button:hover{
    cursor: pointer;
    background-color: #1e5ddb;
}

/*Header Intro*/
.headerIntro{
    display: flex;
    grid-template-columns: 60% 40%;
    padding: 5% 4%;
    gap: 60px;
}
.introInfo{
    flex: 60%;
}
.introInfo h1{
    font-size: 45pt;
}
.introInfo p{
    color: #767676;
    font-size: 13pt;
}
.introInfo button{
    color: #6457C4;
    background-color: #EFECFB;
    padding: 3% 6%;
    border-radius: 10px;
    border: 0px;
    font-size: 14pt;
    font-weight: bold;
    margin: 2% 0%;
}
.introInfo button:hover{
    cursor: pointer;
    background-color: #6457C4;
    color: white;
}
.introImage{
    flex: 40%;
}
.introImage img{
    width: 100%;
    border-radius: 20px;
    margin: 2% auto;
}

/*Study Rooms*/
.studyRooms{
    padding: 2% 4%;
}
.room{
    background-color: white;
    border-radius: 20px;
    padding: 2% 3%;
    display: flex;
    grid-template-columns: 30% 70%;
    gap: 30px;
    width: 40%;
}
.roomImage{
    flex: 30%;
}
.roomInfo{
    flex: 70%;
}
.roomInfo span{
    color: #0A6738;
}
.roomInfo h3{
    font-size: 16pt;
}
.room img{
    width: 100%;
    border-radius: 10px;
}
.roomInfo button{
    float: right;
    background-color: #1F65EC;
    color: white;
    font-size: 13pt;
    padding: 2% 7%;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
}
.roomInfo button:hover{
    cursor: pointer;
    background-color: #1856d2;
}