@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
         url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    grid-template-columns: 65% 35%;
    padding: 3% 2%;
}

/*Welcome Image Div*/
.welcomeImage{
    flex: 65%;
    text-align: center;
}
.welcomeImage img{
    width: 30%;
}
.doctors img{
    width: 80%;
}


/*Log In Div*/
.logIn{
    flex: 35%;
}
.logIn h1{
    color: #073655;
    font-weight: lighter;
    line-height: 15px;
}
.logIn span h1{
    color: #3D4063;
    font-weight: bolder;
}
/*Log In form*/
.logInForm{
    text-align: center;
    padding: 3% 3%;
}
.logInForm span h2{
    color: #014E6F;
}
.logInForm h2{
    color: #272A3D;
    font-weight: bold;
    font-size: 18pt;
}
