@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
         url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, html{
    margin: 0;
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/*Navigation Bar*/
.navBar{
    display: flex;
    grid-template-columns: 70% 30%;
    background-color: white;
    padding: 0% 2%;
    align-items: center;
}
.leftNav{
    flex: 70%;
    display: flex;
    grid-template-columns: 30% 70%;
}
.leftNav h2{
    color: #0084C2;
}
.logo{
    flex: 30%;
}
.logo:hover{
    cursor: pointer;
}
.navLinks{
    flex: 70%;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.link.active{
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #054970;
    color: #014E6F;
}
.navLinks a{
    text-decoration: none;
    color: #4F4F4F;
    font-size: 14pt;
    font-weight: bold;
    margin: 0% 3%;
    padding: 1% 0%;
}
.navLinks a:hover{
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #054970;
    color: #014E6F;
}
.leftNav img{
    width: 15%;
}
.logo h2 > img, h2 > span{
    vertical-align: middle;
}
.rightNav{
    flex: 30%;
}
.rightNav button{
    float: right;
    margin: 0% 2%;
    background-color: #1F65EC;
    font-size: 11pt;
    font-weight: lighter;
    color: white;
    padding: 2% 6%;
    border-radius: 20px;
    border: 0px;
}
.rightNav button:hover{
    cursor: pointer;
    background-color: #1e5ddb;
}

/*Header Intro*/
.headerIntro{
    display: flex;
    grid-template-columns: 60% 40%;
    padding: 5% 4%;
    gap: 60px;
}
.introInfo{
    flex: 60%;
}
.introInfo h1{
    font-size: 45pt;
 
}
.introInfo h1 img{
    width: 80%;
}
.introInfo p{
    color: #767676;
    font-size: 13pt;
}
.introInfo button{
    color: #6457C4;
    background-color: #EFECFB;
    padding: 3% 6%;
    border-radius: 10px;
    border: 0px;
    font-size: 14pt;
    font-weight: bold;
    margin: 2% 0%;
}
.introInfo button:hover{
    cursor: pointer;
    background-color: #6457C4;
    color: white;
}
.introImage{
    flex: 40%;
}
.introImage img{
    width: 100%;
    border-radius: 20px;
    margin: 2% auto;
}

/*Study Rooms*/
.studyRooms{
    padding: 2% 4%;
}
.room{
    background-color: white;
    border-radius: 20px;
    padding: 2% 3%;
    display: flex;
    grid-template-columns: 30% 70%;
    gap: 30px;
    width: 40%;
}
.roomImage{
    flex: 30%;
}
.roomInfo{
    flex: 70%;
}
.roomInfo span{
    color: #0A6738;
}
.roomInfo h3{
    font-size: 16pt;
}
.room img{
    width: 100%;
    border-radius: 10px;
}
.roomInfo button{
    float: right;
    background-color: #1F65EC;
    color: white;
    font-size: 13pt;
    padding: 2% 7%;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
}
.roomInfo button:hover{
    cursor: pointer;
    background-color: #1856d2;
}


/*Footer*/
.footer{
    margin-top: 5%;
    background-color: #054970;
    color: white;
    padding: 2% 4%;
}
.topFooter{
    display: flex;
    grid-template-columns: 40% 20% 20% 20%;
    gap: 5%;
}
.medStudyLogo{
    flex: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: 12pt;
    text-align: center;
}
.medStudyLogo img{
    width: 40%;
    margin: 3% 0%;
}
.infoCol{
    flex: 20%;
    line-height: 150%;
}
.infoCol div{
    border-bottom: 1px solid white;
    margin-bottom: 10%;
}
.infoCol a{
    color: white;
    text-decoration: none;
}
.infoCol a:hover{
    text-decoration: underline;
    color: #0084C2;
}
.socialMedia{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    padding: 1% 1%;
    border-radius: 100px;
}
.icon img:hover{
    cursor: pointer;
}
.icon img{
    width: 40%;
}
.bottomFooter{
    margin-top: 4%;
    padding-top: 4%;
    border-top: 1px solid white;
    border-width: 10%;
    text-align: center;
}

/*Room Desciption Box*/
.roomOverlay{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    align-content: center;
}
.roomOverlay.active {
    visibility: visible;
    opacity: 1;
}
.roomBox{
    background-color: white;
    border-radius: 10px;
    padding: 1% 3%;
    width: 90%;
    margin: auto;
}
#backArrow:hover{
    cursor: pointer;
}
.roomBoxContainer {
    display: flex;
    flex-direction: row;
    height: 100%; 
}
.leftRoom{
    flex: 50%;
    color: #014E6F;
}
.leftRoom span{
    color: #0A6738;
    font-size: 14pt;
}
.leftRoom img{
    width: 50%;
    border-radius: 10px;
}
.rightRoom {
    color: #014E6F;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.rightRoom h1{
    text-align: left;
}

.roomBoxDescription{
    display: flex;
    grid-template-columns: 50% 50%;
    width: 60%;
}
.leftRoomBoxDesc{
    flex: 50%;
}
.leftRoomBoxDesc img{
    width: 10%;
}
.leftRoomBoxDesc span{
    color: #014E6F;
    font-size: 12pt;
}
.additionalInfo{
    margin: 2% 0%;
}
.additionalInfo > img, .additionalInfo > span{
    vertical-align: middle;
}
.rightRoomBoxDesc{
    flex: 50%;
}
.rightRoomBoxDesc{
    text-align: center;
    
}
.rightRoomBoxDesc img{
    width: 20%;
}

/*Calendar*/
#calendar {
    width: 100%;
    height: 100%;
    max-height: 100%; /* Prevent overflow */
}
.fc {
    width: 100% !important;
    height: 100% !important;
}
.calendaryBody{
    text-align: right;
    background-color: white;
    border-radius: 5px;
    padding: 8% 3%;
}
.calendaryBody img{
    width: 3%;
    margin: 0% 2%;
    margin-bottom: 3%;
}
.fc-toolbar-title {
    color: #014E6F;
    font-size: 24px;
    font-weight: bold;
}
.fc-col-header-cell{
    color: #014E6F;
}
.fc-daygrid-day {
    border: none !important;
}
.fc-daygrid-day-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.legendForCalendarRoom{
    color:#014E6F;
}
.legendRoom{
    margin: 2% 0%;
}
.legendRoom span{
    font-size: 10pt;
}
.legendRoom img{
    width: 3%;
}
.legendRoom > img, .legendRoom > span{
    vertical-align: middle;
}

/*Booking Box*/
.bookOverlay{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    align-content: center;
}
.bookOverlay.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.bookBox{
    background-color: white;
    border-radius: 10px;
    padding: 2% 1%;
    width: 30%;
    margin: auto;
    color: #014E6F;
}
.bookBox img{
    width: 10%;
}
.bookBox img:hover{
    cursor: pointer;
}
.bookDescription{
    margin: 0% 10%;
}
.setTime{
    width: 80%;
    margin: 10% auto;
}
.setTime button{
    color: white;
    background-color: #52BBBF;
    border-radius: 10px;
    padding: 4% 10%;
    width: 80%;
    font-size: 16pt;
    border: 0;
    display: block;
    margin: 3% auto;

}

/*Time Picker*/
#timePicker {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 10px;
    width: 50%;
    background: white;
    color: #014E6F;
    display: block;
    margin: 0 auto;
}

#timePicker::placeholder {
    color: #006CFD;
}

#timePicker:focus {
    border-color: #0056b3;
    outline: none;
}
.flatpickr-time{
    width: 50%;
}