@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
         url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {overflow-y: hidden;

    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    grid-template-columns: 65% 35%;
    padding: 3% 2%;
}

/*Welcome Image Div*/
.welcomeImage{
    flex: 65%;
    text-align: center;
}
.welcomeImage img{
    width: 30%;
}
.doctors img{
    width: 80%;
}


/*Log In Div*/
.logIn{
    flex: 35%;
}
.logIn h1{
    color: #073655;
    font-weight: lighter;
    line-height: 15px;
}
.logIn span h1{
    color: #3D4063;
    font-weight: bolder;
}
/*Log In form*/
.logInForm{
    text-align: center;
    margin: 15% auto;
    width: 60%;
}
.logInForm h2 span{
    color: #014E6F;
}
.logInForm h2{
    color: #272A3D;
    font-weight: bold;
    font-size: 18pt;
}
.logInForm input{
    margin: 4% 0%;
    color: #767676;
    font-size: 12pt;
    padding: 3% 2%;
    width: 100%;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #014E6F;
}
.logInForm a{
    text-decoration: none;
    color: #272A3D;
    font-weight: bold;
    font-size: 11pt;
    float: right;
}
.logInForm button:nth-child(8){
    background-color: #054970;
    color: white;
    padding: 5% 0%;
    width: 70%;
    margin: 5% auto;
    font-size: 12pt;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
}
.logInForm button:nth-child(8):hover{
    cursor: pointer;
    background-color: #063d5e;
}
.logInForm button:nth-child(12){
    background-color: white;
    color: #054970;
    border-style: solid;
    border-color: #767676;
    padding: 4% 0%;
    width: 70%;
    margin: 5% auto;
    font-size: 12pt;;
    border-radius: 5px;
    font-weight: bold;
}
.logInForm button:nth-child(12):hover{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}
.logInForm button img{
    width: 12%;
    margin: 0% 2%;
}
.logInForm button > img, button > span{
    vertical-align: middle;
}


/*loading*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.loading-image {
    width: 64px;
    height: 64px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}